# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
client/public/assets/manifests/*.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.txt
*.vscode

.colyseus-cloud.json
.devmode.json

# Playwright
client/test-results/
client/playwright-report/
client/blob-report/
client/playwright/.cache/
client/playwright/.auth/

client/.github

loclx.config.yaml
generated/client