@use 'components/variables' as *;

// --- ФОН: ВИДЕО ---
.bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; // Видео заполняет весь экран
	z-index: $z-video;
	pointer-events: none;
}

// --- ФОН: ЗАТЕМНЕНИЕ ---
.bg-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); // Полупрозрачный черный
	z-index: $z-overlay;
	pointer-events: none;
}
