@use 'components/variables' as *;
@use 'components/mixins' as *;

.pns {
	@include fullscreen-pns;
}

.game-title {
	text-align: center;
	margin-bottom: 10px;
	pointer-events: auto;
	flex-shrink: 0;

	h1 {
		font-size: 2.2em;
		@include neon-text($login-accent);
		margin-bottom: 0px;
	}
	p {
		color: #cccccc;
		font-size: 1em;
		margin-top: 0;
	}
}

.auth-form {
	width: 100%;
	max-width: 350px;
	background: #2d2d2d;
	padding: 15px 25px;
	border-radius: 8px;
	border: 1px solid #444444;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	pointer-events: auto;

	// Центрирование контента формы
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2 {
		text-align: center;
		margin-bottom: 10px;
		color: $login-accent;
		font-size: 1.3em;
		text-transform: uppercase;
		margin-top: 0;
	}
}

.input-group {
	margin-bottom: 8px;
	input {
		width: 100%;
		padding: 8px 10px;
		background: #1a1a1a;
		border: 1px solid #444444;
		border-radius: 4px;
		color: #ffffff;
		font-size: 13px;
		box-sizing: border-box;

		// Подключаем логику валидации
		@include input-validation-states;

		// При наведении чуть светлее
		&:hover {
			border-color: #666;
		}

		// При клике (фокусе) - БЕЛАЯ рамка
		&:focus {
			outline: none;
			border-color: #ffffff;
			box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
		}
	}
}

.btn {
	width: 100%;
	padding: 8px;
	background: $login-accent;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 0;
	transition: transform 0.2s, background 0.3s;

	&:hover {
		background: $login-accent-hover;
		transform: scale(1.02);
	}
}

.social-buttons {
	margin: 10px 0;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	padding: 8px 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.btn-social {
	background: #333333;
	border: 1px solid #555555;
	font-size: 11px;
	padding: 6px;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.2s;

	&:hover {
		background: #444444;
	}
}

.form-switch {
	text-align: center;
	margin-top: 5px;
	color: #cccccc;
	font-size: 12px;
	margin-bottom: 0;

	p {
		margin: 0;
	}

	#change-to-login {
		background-color: transparent;
		color: $login-accent;
		border: none;
		font-size: 12px;
		font-weight: bold;
		padding: 0 5px;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			color: $error-color;
		}
	}
}
